body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 1rem;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  text-align: center;
  color: #0d47a1;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #2e7d32; /* Verde */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #1b5e20;
}

hr {
  margin: 2rem 0;
}

pre {
  background: #eeeeee;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  overflow-x: auto;
}

.field-row {
  display: flex;
  gap: 12px; /* Ajusta este valor para más o menos espacio entre columnas */
  margin-top: 200rem;
}

.field-row input {
  flex: 100;
}
